.username {
  font-weight: 700;
}

.username:before {
  content: "\a0";
}

.spotify-avatar {
  margin-right: 5px;
  border-radius: 2px;
}

.track-image {
  display: inline-block;
  vertical-align: middle;
}

.track-album {
  font-style: italic;
}

.track-album:before {
  content: "\a0\00b7\a0";
}

.track-name {
  font-weight: 700;
}

.track-image-column {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 64px;
}

.audio-features li {
  display: inline-block;
  font-weight: 700;
}

.audio-features li + li {
  margin-left: 1em;
}

.audio-feature-25 {
  color: #999;
}

.audio-feature-50 {
  color: #52DA82;
}

.audio-feature-75 {
  color: #23d160;
}

.audio-feature-100 {
  color: #3273dc;
}
