.username {
  font-weight: 700;
}

.username:before {
  content: "\a0";
}

.spotify-avatar {
  margin-right: 5px;
  border-radius: 2px;
}

.track-image {
  display: inline-block;
  vertical-align: middle;
}

.track-album {
  display: block;
  font-style: italic;
}

.track-name {
  font-weight: 700;
}

.track-image-column {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 64px;
}
